build:clang --repo_env=CC=clang
build:clang --copt=-std=c++20
build:gcc --repo_env=CC=gcc-11
build:gcc --copt=-std=c++2a
try-import %workspace%/user.bazelrc

build --verbose_failures  
test --test_output=errors
